.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: gainsboro;
}
.logo{
    width: 200px;
}
.nav-items {
    padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}
.nav-items >ul >li{
    padding: 10px;
    margin: 10px;
}
.res-container {
    display:flex;
    flex-wrap: wrap;
    background-color: gainsboro;
}

.res-card {
    margin: 10px;
    padding: 7px;
    width: 278px;;

}
.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}



.res-logo{
    width: 100%;
}
.filter-btn {
    margin: 5px;

   padding: 5px;
}
.shimmer-card{
    width: 175px;
    height: 300px;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.user-card{
    border: 1px solid black;

}